<!DOCTYPE html>
<html lang="en">
<head>
	<title>Membership</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
	<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>

<body>
	<script src="https://www.paypal.com/sdk/js?client-id=AXXX3nR0hSm-hC3eMNakMGLUDV-Wa6LOjpAq5Jk3SQov_7lVeAWnQRRcmAQ0Q7CZdi8qlFgoLxK9LNdv&vault=true" />
	<p>You have to subscribe to our membership area to access this feature</p>
	<a href="subscribe">Subscribe!</a>

	<div id="paypal-button-container"></div>

	<script>
		paypal.Buttons({

			createSubscription: function(data, actions) {

				return actions.subscription.create({

					'plan_id': 'P-85G20577UY138270KLT7L33I'

				});

			},

			onApprove: function(data, actions) {
				alert('You have successfully created subscription ' + data.subscriptionID);
			}


		}).render('#paypal-button-container');
	</script>
</body>
</html>