<!DOCTYPE html>
<html lang="en">
<head>
    <title>Membership</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> 
</head>

<body>
    <p>You have to subscribe to our membership area to access this feature</p>
    <a href="subscribe">Subscribe!</a>
</body>
</html>